<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<!-- HIBERNATE数据库链接信息在Spring配置文件中配置 -->

		<!-- 数据库表生成策略 -->
		<property name="hibernate.hbm2ddl.auto">update</property>

		<!-- 数据库方言 -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>

		<!-- 是否显示/格式化SQL -->
		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.format_sql">false</property>
		
		
		
	</session-factory>
</hibernate-configuration>
